@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/screens")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/screens")

    <link href="https://fonts.googleapis.com/css?family=Roboto|Lato:300,400,900|Raleway:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div class="background" id="background"></div>
    <div class="screen">
        <div class="featured">
            @{
                if (ViewBag.location_name == null)
                {
                    <div class="fixed-header">Today's Full Schedule</div>
                }
            }
            <div id="carousel" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="10000">
                <div class="carousel-inner" id="featured">
                </div>
            </div>
        </div>
        <div class="marquee">
            <div id="full_list">
            </div>
        </div>
        <div class="lower">
            <img style="max-width: 14vw" src="~/Content/img/temp/osgm-logo.png" />
            <img style="max-width: 12vw" src="~/Content/img/temp/mgc-logo.png" />
            <div class="lower-cta">Download the Con App at: bit.ly/osgconapp</div>
        </div>
    </div>

    @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/templates/screentemplates.html")))

    <script>
        @{
            bool location_view = (ViewBag.location_name != null);
        }
        const location_view = ('@location_view' === 'True');
        const featTemplate = location_view ? 'location-template' : 'featured-template';
        var featSource = document.getElementById(featTemplate).innerHTML;
        var fullSource = document.getElementById("event-template").innerHTML;
        var featureTemplate = Handlebars.compile(featSource);
        var fullTemplate = Handlebars.compile(fullSource)
        var images = new Array();
        var numberOfEvents = 0;

        const backgrounds = [
            "/Content/img/temp/osg1background.jpg",
            "/Content/img/temp/osg2background.jpg",
            "/Content/img/temp/osg3background.jpg",
            "/Content/img/temp/osg4background.jpg",
            "/Content/img/temp/osg5background.jpg",
            "/Content/img/temp/osg6background.jpg",
            "/Content/img/temp/osg7background.jpg",
            "/Content/img/temp/osg8background.jpg",
            "/Content/img/temp/osg9background.jpg"
        ];
        let currBackground = 0;

        function loadEvents() {
            var url = '/api/v2/convention/@ViewBag.convention_id/events/' + moment().format('MM-DD-YYYY');
            if (location_view) {
                url = url + '/@ViewBag.location_name';
            }
            console.log(url);
            $.ajax({
                url: url,
                method: 'GET'
            })
                .then((res) => {
                    let featured = [];
                    let full = [];
                    const currDate = moment().format('YYYY-MM-DD');

                    res.forEach((row) => {
                        full.push(row);
                        if (row.endTime === null || moment(currDate + 'T' + row.endTime.slice(0, 5)).isAfter(moment())) {
                            featured.push(row);
                        }
                    });
                    console.log("featured", featured);
                    console.log("full", full);
                    if (location_view) {
                        if (featured[0]) {
                            $("#featured").html(featureTemplate(featured[0]));
                        } else {
                            const noMoreSource = document.getElementById("no-more-template").innerHTML;
                            const noMoreTemplate = Handlebars.compile(noMoreSource);
                            $("#featured").html(noMoreTemplate({ location: '@ViewBag.location_name' }));
                        }
                    } else {
                        $("#featured").html(featureTemplate({ events: featured }));
                    }
                    updateMarqueeData(fullTemplate({ events: full }));
                    numberOfEvents = full.length;
                })
        }

        function setBackground() {
            $("#background").css("background-image", "url(" + backgrounds[currBackground] + ")");
            currBackground = currBackground + 1;
            if (currBackground >= backgrounds.length) {
                currBackground = 0;
            }
        }

        function preloadBackgrounds() {
            for (let i = 0; i < backgrounds.length; i++) {
                images[i] = new Image()
                images[i].src = backgrounds[i];
            }
        }

        function updateMarqueeData(html) {
            stopMarquee();
            $("#full_list").html(html);
            startMarquee();
        }

        function startMarquee() {
            $('.marquee').marquee({
                duration: 10000 + (1250 * numberOfEvents),
                gap: 200,
                delayBeforeStart: 2000,
                direction: 'up',
                duplicated: true
            })
        }

        function stopMarquee() {
            $('.marquee').marquee('destroy');
        }

        function startup() {
            setBackground();
            preloadBackgrounds();
            setInterval(setBackground, 180000);
            setInterval(loadEvents, 600000);
            startMarquee();
            loadEvents();
            setTimeout(() => { location.reload(true) }, 1200000);
        }

        $(startup);
    </script>
</body>
</html>