@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/screens")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/screens")

    <link href="https://fonts.googleapis.com/css?family=Roboto|Lato:300,400,900|Raleway:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div class="background" id="background"></div>
    <div class="screen">
        <div class="featured">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="3000">
                <div class="carousel-inner" id="featured">
                </div>
            </div>
        </div>
        <div class="marquee">
            <div id="full_list">
            </div>
        </div>
        <div class="lower">
            <img style="max-height: 60%; max-width: 60%" src="https://www.mobilebeatlasvegas.com/wp-content/uploads/2018/05/MBLV23-logo-trans-2-1.png" />
            <div class="lower-cta">Download the MobileBeat app at: bit.ly/mblvapp</div>
        </div>
    </div>

    @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/templates/screentemplates.html")))

    <script>
        var featSource = document.getElementById("featured-template").innerHTML;
        var fullSource = document.getElementById("event-template").innerHTML;
        var featureTemplate = Handlebars.compile(featSource);
        var fullTemplate = Handlebars.compile(fullSource)
        var images = new Array();
        var numberOfEvents = 0;

        const backgrounds = [
            "/Content/img/temp/dark-1850120_1920.jpg",
            "/Content/img/temp/dj-1332379_1920.jpg",
            "/Content/img/temp/dj-1531431_1920.jpg",
            "/Content/img/temp/dj-2581269_1920.jpg",
            "/Content/img/temp/light-effects-482089_1920.jpg",
            "/Content/img/temp/party-2173187_1920.jpg",
            "/Content/img/temp/people-2568353_1920.jpg"
        ];
        let currBackground = 0;

        function loadEvents() {
            $.ajax({
                url: '/api/v2/convention/@ViewBag.convention_id/events/' + moment().format('MM-DD-YYYY'),
                method: 'GET'
            })
                .then((res) => {
                    let featured = [];
                    let full = [];
                    const currDate = moment().format('YYYY-MM-DD');

                    res.forEach((row) => {
                        full.push(row);
                        if (moment(currDate + 'T' + row.endTime.slice(0, 5)).isAfter(moment())) {
                            featured.push(row);
                        }
                    });
                    console.log("featured", featured);
                    console.log("full", full);
                    $("#featured").html(featureTemplate({ events: featured }));
                    updateMarqueeData(fullTemplate({ events: full }));
                    numberOfEvents = full.length;
                })
        }

        function setBackground() {
            $("#background").css("background-image", "url(" + backgrounds[currBackground] + ")");
            currBackground = currBackground + 1;
            if (currBackground >= backgrounds.length) {
                currBackground = 0;
            }
        }

        function preloadBackgrounds() {
            for (let i = 0; i < backgrounds.length; i++) {
                images[i] = new Image()
                images[i].src = backgrounds[i];
            }
        }

        function updateMarqueeData(html) {
            stopMarquee();
            $("#full_list").html(html);
            startMarquee();
        }

        function startMarquee() {
            $('.marquee').marquee({
                duration: 15000 + (2000 * numberOfEvents),
                gap: 200,
                delayBeforeStart: 2000,
                direction: 'up',
                duplicated: true
            })
        }

        function stopMarquee() {
            $('.marquee').marquee('destroy');
        }

        function startup() {
            setBackground();
            preloadBackgrounds();
            setInterval(setBackground, 180000);
            setInterval(loadEvents, 600000);
            startMarquee();
            loadEvents();
        }

        $(startup);
    </script>
</body>
</html>