@model IEnumerable<ReplayFXSchedule.Web.Models.VendorType>

@{
    ViewBag.Title = "Manage Vendor Types";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Vendor Types</h4>
    </div>
    <div class="card-body">

        <p>
            @Html.ActionLink("Create New", "Create", "VendorTypes", null, new { @class = "btn btn-default" })
        </p>
        <table class="table table-shopping">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisplayName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>