@model ReplayFXSchedule.Web.Models.Convention

@{
    ViewBag.Title = "ConventionHome";
}

<h2>@Model.Name</h2>

@Model.StartDate - @Model.EndDate
@Model.Address
@Model.Address2
@Model.City @Model.State @Model.Zip

