@model IEnumerable<ReplayFXSchedule.Web.Models.Event>

@{
    ViewBag.Title = "Manage Replay Events";
}

<h2>Manage Events</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default replayButton" })
</p>
<!-- @using (Html.BeginForm("Index", "ReplayEvents", FormMethod.Get))
{
    //the following are search options  
    <b> Search Events by Title: </b> @Html.TextBox("search") <input type="submit" name ="submit" value="Search" />
}  -->

<table class="table replayTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.ReplayEventTypes)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) 
{
    <tr>
        <td>
            <div class="responsiveTD">
    @Html.DisplayFor(modelItem => item.Title)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.Date)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.StartTime)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.EndTime)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
</td>
        <td>
            <div class="responsiveTD">
                @if (item.ImageUrl != null)
                {<img src="@Url.Content(item.ImageUrl)" class="index-img" />}
            </div>
</td>
        <td>
            <div class="responsiveTD">
                    @foreach (var eventType in item.ReplayEventTypes)
                    {
                        <span class="categoryType">@Html.DisplayFor(model => eventType.DisplayName) </span><br />
                    }
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
