<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Content/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Content/img/favicons/manifest.json">
    <link rel="mask-icon" href="~/Content/img/favicons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="~/Content/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="~/Content/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head> 
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("ReplayFX App Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("Events", "Index", "Events", new { convention_id = ViewContext.RouteData.Values["convention_id"] }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Games", "Index", "Games", new { convention_id = ViewContext.RouteData.Values["convention_id"] }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Vendors", "Index", "Vendors", new { convention_id = ViewContext.RouteData.Values["convention_id"] }, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Setup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Setup Categories", "Index", "EventTypes", new { convention_id = ViewContext.RouteData.Values["convention_id"] }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Setup Game Types", "Index", "GameTypes", new { convention_id = ViewContext.RouteData.Values["convention_id"] }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Setup Game Locations", "Index", "GameLocations", new { convention_id = ViewContext.RouteData.Values["convention_id"] }, new { @class = "dropdown-item" })
                    </div>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <p>BUILT BY <img src="~/Content/img/Academy-Work-Hard-Pittsburgh-Logo-50.png" />  @DateTime.Now.Year</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/replayFX.js")
    @RenderSection("scripts", required: false)
</body>
</html>
