<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Content/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Content/img/favicons/manifest.json">
    <link rel="mask-icon" href="~/Content/img/favicons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="~/Content/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="~/Content/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head> 
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ReplayFX App Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Events", "Index", "ReplayEvents")</li>
                    <li>@Html.ActionLink("Games", "Index", "ReplayGames")</li>
                    <li>@Html.ActionLink("Vendors", "Index", "ReplayVendors")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Setup <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Setup Categories", "Index", "ReplayEventTypes")</li>
                            <li>@Html.ActionLink("Setup Game Types", "Index", "ReplayGameTypes")</li>
                            <li>@Html.ActionLink("Setup Game Locations", "Index", "ReplayGameLocations")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
    </div>


    <footer>
            <p>BUILT BY <img src="~/Content/img/Academy-Work-Hard-Pittsburgh-Logo-50.png" />  @DateTime.Now.Year</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/replayFX.js")
    @RenderSection("scripts", required: false)
</body>
</html>
