@model ReplayFXSchedule.Web.Models.Game

@{
    ViewBag.Title = "Delete Game";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Delete Game</h4>
    </div>
    <div class="card-body">

        <h3 class="deleteWarning">Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.GameTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GameTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Overview)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Overview)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Developer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Developer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Players)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Players)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    @if (Model.ImageUrl != null)
                    {
                        <img src="@Url.Content(Model.ImageUrl)" class="detail-img" id="imageUrl" />}
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.GameType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GameType)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index", "Games", null, new { @class = "replayButton btn btn-default" })
                </div>
            }
        </div>
    </div>
</div>