@model ReplayFXSchedule.Web.Models.Game

@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Game Details</h4>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GameTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GameTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Overview)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Overview)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Developer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Developer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Players)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Players)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @if (Model.ImageUrl != null)
                {
                    <img src="@Url.Content(Model.ImageUrl)" class="detail-img" id="imageUrl" />}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GameType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GameType)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "replayButton btn btn-default" })
        @Html.ActionLink("Back to List", "Index", "Games", null, new { @class = "replayButton btn btn-default" })
    </p>
    </div>
</div>