@model IEnumerable<ReplayFXSchedule.Web.Models.ReplayGame>

@{
    ViewBag.Title = "Manage Replay Games";
}

<h2>Manage Games</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default replayButton" })
</p>
@using (Html.BeginForm("Index", "ReplayGames", FormMethod.Get))
{
    //the following are search options  
    <b> Search Games by Title: </b> @Html.TextBox("search") <input type="submit" name ="submit" value="Search" />
} 

<table class="table replayTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Players)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplayGameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplayGameLocations)
        </th>
        <th>
            Actions
        </th>
        <th>
            Show Status
        </th>
    </tr>
                            @foreach (var item in Model.OrderBy(item => item.GameTitle))
                            {
        <tr>
            <td>
                <div class="responsiveTD">
                    @Html.DisplayFor(modelItem => item.GameTitle)
                </div>
            </td>
            <td>
                <div class="responsiveTD" style="overflow: hidden; height: 4em">
                    @Html.DisplayFor(modelItem => item.Overview)
                </div>
            </td>
            <td>
                <div class="responsiveTD">
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </div>
            </td>
            <td>
                <div class="responsiveTD">
                    @Html.DisplayFor(modelItem => item.Developer)
                </div>
            </td>
            <td>
                <div class="responsiveTD">
                    @Html.DisplayFor(modelItem => item.Genre)
                </div>
            </td>
            <td>
                <div class="responsiveTD">
                    @Html.DisplayFor(modelItem => item.Players)
                </div>
            </td>
            <td>
                <div class="responsiveTD">
                    @if (item.ImageUrl != null)
                    {<img src="@Url.Content(item.ImageUrl)" class="index-img" />}
                </div>
            </td>
            <td>
                <div class="responsiveTD">
                    @Html.DisplayFor(modelItem => item.ReplayGameType.Name)
                </div>
            </td>
            <td>
                <div class="responsiveTD">
                    @foreach (var gameLocation in item.ReplayGameLocations)
                    {
                        <span class="categoryType">@Html.DisplayFor(model => gameLocation.Location) </span><br />
                    }
                </div>
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                <div class="responsiveTD">
                    @if (item.AtReplay)
                    {
                        <p id="btn_@item.Id" onclick="toggleAtReplay(@item.Id)" class="btn btn-primary">Here!</p>
                    }
                    else
                    {
                        <p id="btn_@item.Id" onclick="toggleAtReplay(@item.Id)" class="btn btn-danger">Not Here!</p>
                    }
                </div>
            </td>
        </tr>
                            }

                        </table>

@section Scripts {
<script>
    function toggleAtReplay(id, e) {
        $.get("/replaygames/SwapAtReplayValue/" + id)
            .then((data) => {
                $("#btn_" + id).removeClass("btn-primary");
                $("#btn_" + id).removeClass("btn-danger");
                if (data.AtReplay) {
                    $("#btn_" + id).addClass("btn-primary");
                    $("#btn_" + id).html("Here!");
                }
                else {
                    $("#btn_" + id).addClass("btn-danger");
                    $("#btn_" + id).html("Not Here!");
                }
            });
    }
</script>
}