@model IEnumerable<ReplayFXSchedule.Web.Models.ReplayGame>

@{
    ViewBag.Title = "Manage Replay Games";
}

<h2>Manage Games</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default replayButton" })
</p>
<table class="table replayTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Players)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplayGameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplayGameLocations)
        </th>
        <td>
            Actions
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.GameTitle)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.Overview)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.ReleaseDate)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.Developer)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.Genre)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.Players)
                </div>
</td>
        <td>
            <div class="responsiveTD">
                @if (item.ImageUrl != null)
                {<img src="@Url.Content(item.ImageUrl)" class="index-img" />}
            </div>
        </td>
        <td>
            <div class="responsiveTD">
                @Html.DisplayFor(modelItem => item.ReplayGameType.Name)
            </div>
        </td>   
        <td>
            <div class="responsiveTD">
                @foreach (var gameLocation in item.ReplayGameLocations)
                {
                    <span class="categoryType">@Html.DisplayFor(model => gameLocation.Location) </span><br />
                }
            </div>
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
